<div class="items">
  <div class="characters">
    <select id="chars" (click)="showItems()">
      <option value="Select Character" disabled selected hidden>Select Character</option>
      <option *ngFor="let character of allChars; let i = index" value=character.Name class="Name" id="character">{{character.Name}}</option>
    </select>
  </div>
  <div class="tbl-content">
    <h1>All Items</h1>
    <table id="tabl" cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Level Required</th>
          <th>Ownership</th>
          <th>Add to Character</th>
          <th>Remove from Character</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of allItems">
          <td class="Name">{{item.Name}}</td>
          <td class="Description">{{item.Description}}</td>
          <td class="Level">{{item.Level}}</td>
          <td class="Owned" *ngIf="itemOwned(item.ID)">Owned</td>
          <td class="Unowned" *ngIf="!itemOwned(item.ID)">Unowned</td>
          <td (click)="add(item.ID)" class="Add" *ngIf="levelReqMet(item.Level)">Add</td>
          <td (click)="remove(item.ID)" class="Add" *ngIf="levelReqMet(item.Level)">Remove</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
