<div class="items">
  <h1></h1>

  <div class="characters">
    <select id="chars" (click)="showItems()">

      <option value="Select Character" disabled selected>Select Character</option>

      <option *ngFor="let character of allChars; let i = index" value=character.Name
              class="Name" id="character">

        {{character.Name}}

      </option>
    </select>
  </div>

<div class="tbl-content">
  <table id="tabl" cellpadding="0" cellspacing="0" border="0">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Add to Character</th>
        <th>Ownership</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of allItems">
        <td class="Name">{{item.Name}}</td>
        <td class="Description">{{item.Description}}</td>
        <td class="Add">ADD</td>
        <td class="Owned" *ngIf="itemOwned(item)">Owned</td>
        <td class="Unowned" *ngIf="itemUnowned(item)">Unowned</td>
      </tr>
    </tbody>

  </table>
</div>

</div>

