<div class="classes">
  <div class="Characters">
    <h1>Class Information</h1>
    <p>Click on one of the buttons below to find out more information about each class.</p>
    <button class="create" id="1" (click)="submit(1)">Sorcerer</button>
    <button class="create" id="2" (click)="submit(2)">Barbarian</button>
    <button class="create" id="3" (click)="submit(3)">Bard</button>
    <button class="create" id="4" (click)="submit(4)">Druid</button>
    <button class="create" id="5" (click)="submit(5)">Shaman</button>
    <button class="create" id="6" (click)="submit(6)">Hunter</button>
    <button class="create" id="7" (click)="submit(7)">Necromancer</button>
    <button class="create" id="8" (click)="submit(8)">Rogue</button>
    <button class="create" id="9" (click)="submit(9)">Paladin</button>
    <button class="create" id="10" (click)="submit(10)">Priest</button>
  </div>
</div>