<div class="characters">
  <h1></h1>
  <form method="post" #f="ngForm" (ngSubmit)="onSubmit(f)" novalidat>
    <button class="submit">View Your Characters</button>
  </form>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Level</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let character of allChars">
        <td>{{character.Name}}</td>
        <td>{{character.Description}}</td>
        <td>{{character.Level}}</td>
      </tr>
    </tbody>

  </table>
</div>
