<div class="characters">
  <div class="tbl-content">
    <h1>All Characters</h1>
    <table id ="tabl" cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Level</th>
          <th>Class</th>
          <th>Delete Character</th>
          <th>Edit Character</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let character of allChars; let i = index">

          <td id="name" contenteditable=true class="Name">{{character.Name}}</td>
          <td id="desc" contenteditable=true class="Description">{{character.Description}}</td>
          <td id="level" contenteditable=true class="Level">{{character.Level}}</td>
          <td id="class" contenteditable=true class="Class">{{character.Class}}</td>
          <td class="delete" (click)="deleteCharacter(character.Name, character.ID)">DELETE</td>
          <td class="edit" (click)="editCharacter(character, i)">EDIT</td>
        </tr>
      </tbody>

    </table>
  </div>
</div>
