<div class="addItem">
  <section class="itemSect">
  <h1>Add an Item</h1>

  <form [formGroup]="itemForm"
        (ngSubmit)="submitItem()"
  >
    <!-- The user inputs the item's name here -->
    <input type="text"
           id="itemname"
           placeholder="Item Name"
           formControlName="itemname"
           required  
    />

    <!-- The user input for the item's name is checked here -->
    <div *ngIf="itemForm.controls['itemname'].invalid && (itemForm.controls['itemname'].dirty || itemForm.controls['itemname'].touched)" class="alert alert-danger">
      <div *ngIf="itemForm.controls['itemname'].errors?.['required']">
        Item name is required.
      </div>
      <div *ngIf="itemForm.controls['itemname'].errors?.['minlength']">
        Item name must be at least 4 characters long.
      </div>
      <div *ngIf="itemForm.controls['itemname'].errors?.['maxlength']">
        Item name cannot be longer than 30 characters.
      </div>
      <div *ngIf="itemForm.controls['itemname'].errors?.['pattern']">
        Item name can only contains uppercase or lowercase letters or whitespace.
      </div>
    </div>

    <!-- The user inputs the item's description  here -->
    <input type="text"
           id="itemdescription"
           placeholder="Item Description" 
           formControlName="itemdescription"
           required   
    />

    <!-- The user input for the item's description is checked here -->
    <div *ngIf="itemForm.controls['itemdescription'].invalid && (itemForm.controls['itemdescription'].dirty || itemForm.controls['itemdescription'].touched)" class="alert alert-danger">
      <div *ngIf="itemForm.controls['itemdescription'].errors?.['required']">
        Item description is required.
      </div>
      <div *ngIf="itemForm.controls['itemdescription'].errors?.['minlength']">
        Item description must be at least 4 characters long.
      </div>
      <div *ngIf="itemForm.controls['itemdescription'].errors?.['maxlength']">
        Item description cannot be longer than 30 characters.
      </div>
      <div *ngIf="itemForm.controls['itemdescription'].errors?.['pattern']">
        Item description can only contain upper and lowercase letters, periods, commas, and question marks.
      </div>
    </div>

    <select id="character_dropdown_item">
      <option disabled selected hidden>Character Level</option>
      <option *ngFor="let level of allLevels">{{level}}</option>
    </select>

    <select id="class_dropdown_item">
      <option disabled selected hidden>Character Class</option>
      <option *ngFor="let iclass of allClasses">{{iclass}}</option>
    </select>

    <button class="submit" type="reset" id="itemreset" (click)="itemreset()">Reset Values</button>
    <button class="submit" type="submit" id="itemsubmit" [disabled]="!itemForm.valid">Submit</button>
  </form>
  </section>
</div>


<div class="addSpell">
  <section class="spellSect">
    <h1>Add a Spell</h1>

    <form [formGroup]="spellForm"
    (ngSubmit)="submitSpell()"
    >
      <!-- The user inputs the spell's name here -->
      <input type="text"
            id="spellname"
            placeholder="Spell Name"
            formControlName="spellname"
            required  
      />

      <!-- The user input for the spell's name is checked here -->
      <div *ngIf="spellForm.controls['spellname'].invalid && (spellForm.controls['spellname'].dirty || spellForm.controls['spellname'].touched)" class="alert alert-danger">
        <div *ngIf="spellForm.controls['spellname'].errors?.['required']">
          Spell name is required.
        </div>
        <div *ngIf="spellForm.controls['spellname'].errors?.['minlength']">
          Spell name must be at least 4 characters long.
        </div>
        <div *ngIf="spellForm.controls['spellname'].errors?.['maxlength']">
          Spell name cannot be longer than 30 characters.
        </div>
        <div *ngIf="spellForm.controls['spellname'].errors?.['pattern']">
          Spell name can only contains uppercase or lowercase letters or whitespace.
        </div>
      </div>

      <!-- The user inputs the spell's description  here -->
      <input type="text"
            id="spelldescription"
            placeholder="Spell Description" 
            formControlName="spelldescription"
            required   
      />

      <!-- The user input for the spell's description is checked here -->
      <div *ngIf="spellForm.controls['spelldescription'].invalid && (spellForm.controls['spelldescription'].dirty || spellForm.controls['spelldescription'].touched)" class="alert alert-danger">
        <div *ngIf="spellForm.controls['spelldescription'].errors?.['required']">
          Spell description is required.
        </div>
        <div *ngIf="spellForm.controls['spelldescription'].errors?.['minlength']">
          Spell description must be at least 4 characters long.
        </div>
        <div *ngIf="spellForm.controls['spelldescription'].errors?.['maxlength']">
          Spell description cannot be longer than 30 characters.
        </div>
        <div *ngIf="spellForm.controls['spelldescription'].errors?.['pattern']">
          Spell description can only contain upper and lowercase letters, periods, commas, and question marks.
        </div>
      </div>

      <select id="character_dropdown_spell">
        <option disabled selected hidden>Character Level</option>
        <option *ngFor="let level of allLevels">{{level}}</option>
      </select>
  
      <select id="class_dropdown_spell">
        <option disabled selected hidden>Character Class</option>
        <option *ngFor="let iclass of allClasses">{{iclass}}</option>
      </select>

      <button class="submit" type="reset" id="spellreset" (click)="spellreset()">Reset Values</button>
      <button class="submit" type="submit" id="spellsubmit" [disabled]="!spellForm.valid">Submit</button>
    </form>
  </section>
</div>
