<div class="register">
  <h1>Register</h1>
  <form method="post">
    <input type="email" name="e" placeholder="Email" required="required" />
    <input type="text" name="u" placeholder="Username" required="required" />
    <input type="password" name="p" placeholder="Enter New Password" required="required" />
    <input type="password" name="p2" placeholder="Enter New Password Again" required="required" />
    <button type="submit" class="btn btn-primary btn-block btn-large">Register</button>
  </form>
</div>
