<div class="spells">
  <div class="characters">
    <select id="classes" (click)="showSpells()">
      <option disabled selected hidden>Select Class</option>
      <option *ngFor="let iclass of allClasses" class="Name" id="class_dropdown">{{iclass}}</option>
    </select>
  </div>
  <div class="tbl-content">
    <h1>All Spells</h1>
    <div class="search-spells">
      <input *ngIf="All()"
        class="form-control"
        type="text"
        name="searchAll"
        id="searchAll"
        [(ngModel)]="searchText"
        autocomplete="off"
        placeholder="Start searching for a spell by class, name, description, or level required"
      />
      <input *ngIf="!All()"
        class="form-control"
        type="text"
        name="searchNotAll"
        id="searchNotAll"
        [(ngModel)]="searchText"
        autocomplete="off"
        placeholder="Start searching for a spell by name, description, or level required"
      />
    </div>
    <table id="tabl" cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th *ngIf="All()">Class</th>
          <th>Name</th>
          <th>Level</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody *ngIf="All()">
        <tr *ngFor="let spell of allSpells | filter : searchText">
          <td class="Class">{{spell.Class}}</td>
          <td class="Name">{{spell.Name}}</td>
          <td class="Level">{{spell.Level}}</td>
          <td class="Description">{{spell.Description}}</td>
        </tr>
      </tbody>
      <tbody *ngIf="!All()">
        <tr *ngFor="let spell of curClassSpells | filter : searchText">
          <td class="Name">{{spell.Name}}</td>
          <td class="Level">{{spell.Level}}</td>
          <td class="Description">{{spell.Description}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

