<div class="items">
  <form method="post" #f="ngForm" (ngSubmit)="viewItems()" novalidate>
    <button class="submit">{{Itemtext}}</button>
  </form>

  <div id="itemTabl" class="tbl-content">
    <table id="itemTable" cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <td id="itemValid" colspan="6" class="adminItem"></td>
        </tr>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Level</th>
          <th>Class</th>
          <th>Delete Item</th>
          <th>Edit Item</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of allItems; let i = index">
          <td id="itemName" class="Name" contenteditable="true">{{item.name}}</td>
          <td id="itemDesc" class="Description" contenteditable="true">{{item.description}}</td>
          <td class="Level">{{item.levelReq}}</td>
          <td class="Class">{{item.classReq}}</td>
          <td (click)="deleteItem(item.id, item.name)" class="delete">Delete Item</td>
          <td (click)="editItem(item, i)" class="edit">EDIT</td>
        </tr>
      </tbody>

    </table>
  </div>
</div>

<div class="spells">
  <form method="post" #f="ngForm" (ngSubmit)="viewSpells()" novalidate>
    <button class="submit">{{Spelltext}}</button>
  </form>

  <div id="spellTabl" class="tbl-content">
    <table id="spellTable" cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <td id="spellValid" colspan="6" class="adminItem"></td>
        </tr>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Level</th>
          <th>Class</th>
          <th>Delete Item</th>
          <th>Edit Item</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let spell of allSpells; let i = index">
          <td id="spellName" class="Name" contenteditable="true">{{spell.name}}</td>
          <td id="spellDesc" class="Description" contenteditable="true">{{spell.description}}</td>
          <td class="Level">{{spell.levelReq}}</td>
          <td class="Class">{{spell.classReq}}</td>
          <td (click)="deleteSpell(spell.id, spell.name)" class="delete">Delete Spell</td>
          <td (click)="editSpell(spell, i)" class="edit">EDIT</td>
        </tr>
      </tbody>

    </table>
  </div>
</div>

