
<button (click)="viewHide()" class="submit">{{this.text}}</button>
<div id="tableData" class="tbl-content">
  <table id="tabl" cellpadding="0" cellspacing="0" border="0">
    <thead>
      <tr>
        <th>Name</th>
        <th>Username</th>
        <th>Email</th>
        <th>ID</th>
        <th>Admin</th>
        <th>Delete User</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of Users; let i = index">
        <td class="Name">{{user.Name}}</td>
        <td class="Username">{{user.Username}}</td>
        <td class="Email">{{user.Email}}</td>
        <td class="ID">{{user.ID}}</td>
        <td class="Admin">{{user.adm}}</td>
        <td (click)="deleteUser(user.Username)" class="delete">DELETE</td>
      </tr>
    </tbody>

  </table>
</div>
<div class="users">
  <select (click)="chooseUser()" id="chooseUser">
    <option value="Edit User" disabled selected hidden>Edit User</option>
    <option *ngFor="let user of Users; let i = index" value=user.Username class="Name" id="curUser">{{user.Username}}</option>
  </select>

  <h1 class="profile">Profile Information</h1>
  <form>
    <input id="Name" class="name" placeholder="{{curUser.Name}}" type="text" />
    <input id="Email" class="email" placeholder="{{curUser.Email}}" type="email" />
    <input id="Pwd" class="pwd" placeholder="Password" type="password" />
    <div>
      <input id="Adm" class="adm" name="Set As Admin" type="checkbox" />
      <label>Set as Admin</label>
    </div>
    <button (click)="editUser()" class="edit">EDIT</button>
  </form>

</div>

