<div style="text-align:center" class="create-characters" >
    <h1>Create A New Character</h1>
    <form method="post" #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
      <input name="name" id="Name" type="text" placeholder="Character Name" required="required" ngModel />
      <label *ngIf="validName(f.value.name)">{{invalidName}}</label>

      <input name="description" type="text" placeholder="Character Description" required="required" ngModel />
      <label *ngIf="validDescription(f.value.description)">{{invalidDesc}}</label>

      <input name="level" type="number" placeholder="Character Level" required="required" ngModel />
      <label *ngIf="validLevel(f.value.level)">{{invalidLevel}}</label>

      <input name="class" type="number" placeholder="Character Class" required="required" ngModel />
      <label *ngIf="validClass(f.value.class)">{{invalidClass}}</label>
      <button class="submit">Submit</button>
    </form>
</div>
