<!-- Navigation Bar with links<img class="mainlogo" src="assets/images/D&Dlogo.jpg">-->

<img class="menu" src="assets/images/D&Dgold.png" alt="D&D logo" routerLink="/">
<router-outlet>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-nav">
      <!-- This is what changes the routing on the home page (localhost:4200)-->
      <!-- NOTE: routerLink must match the path indicated in app.component.html-->
      <a class="nav-item nav-link" routerLink="/">Home</a>

      <!-- Add following functionality:
            If user not logged in, display login and create user tabs-->
      <a class="nav-item nav-link" routerLink="/users/login">Login</a>
      <a class="nav-item nav-link" routerLink="/users/create">Sign Up</a>
      
      <!-- Add following functionality:
            If user is logged in, display logout and profile tabs-->
      <a class="nav-item nav-link" routerLink="/users/logout">Logout</a>
      <a class="nav-item nav-link" routerLink="/users/get">Profile</a>

      <!-- TODO: Leaving this connection here for now. /users/characters will most likely 
      be changed into /users/characters/:id and integrated into /users/myprofile.
      <a class="nav-item nav-link" routerLink="/users/characters">Profile</a> -->
      <a class="nav-item nav-link" routerLink="/classes">Classes</a>
      <a class="nav-item nav-link" routerLink="/spells">Spells</a>
      <a class="nav-item nav-link" routerLink="/items">Items</a>
    </div>
  </nav>

  <!-- main content container -->
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 offset-sm-2">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</router-outlet>
