<!-- Navigation Bar with links<img class="mainlogo" src="assets/images/D&Dlogo.jpg">-->

<router-outlet>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-nav">

      <!-- This is what changes the routing on the home page (localhost:4200)-->
      <!-- NOTE: routerLink must match the path indicated in app.component.html-->
      <a class="nav-item nav-link" routerLink="/">Home</a>
      <a class="nav-item nav-link" routerLink="/users/login">Login</a>
      <a class="nav-item nav-link" routerLink="/users/create">Sign Up</a>

    </div>

  </nav>

  <!-- main content container -->
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 offset-sm-2">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</router-outlet>
