

<img class="menu" src="assets/images/D&Dgold.png" alt="D&D logo" routerLink="/">
<router-outlet>
  <!-- Navigation Bar with links<img class="mainlogo" src="assets/images/D&Dlogo.jpg">-->
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-nav">
      <!-- This is what changes the routing on the navigation bar-->
      <!-- NOTE: routerLink must match the path indicated in app.component.html-->

      <a class="nav-item nav-link" routerLink="/">Home</a>

      <!--If user not logged in, display login and create user tabs-->
      <a class="nav-item nav-link" routerLink="/users/login" *ngIf="!loggedIn()">Login</a>
      <a class="nav-item nav-link" routerLink="/users/create" *ngIf="!loggedIn()">Sign Up</a>

      <!--If user is logged in, display all these tabs instead-->
      <a class="nav-item nav-link" (click)="logout()" *ngIf="loggedIn()">Logout</a>
      <a class="nav-item nav-link" routerLink="/users/get" *ngIf="loggedIn()">Profile</a>
      <a class="nav-item nav-link" routerLink="/classes" *ngIf="loggedIn()">Classes</a>
      <a class="nav-item nav-link" routerLink="/spells" *ngIf="loggedIn()">Spells</a>
      <a class="nav-item nav-link" routerLink="/items" *ngIf="loggedIn()">Items</a>

      <!--If user admin, also display all these tabs -->
      <a class="nav-item nav-link" routerLink="/admin/view-users" *ngIf="isAdmin()">View All Users</a>
    </div>
  </nav>

  <!-- Home Page Content Container -->
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 offset-sm-2">
          <router-outlet>
          </router-outlet>
        </div>
      </div>
    </div>
  </div>
</router-outlet>
